ul {
  padding: 0;
}

.profile {
  background-color: rgb(144, 170, 136);
  width: 250px;
  height: 350px;
  border-radius: 15px;
  border: 2px solid rgb(83, 13, 13);
  margin: 50px;
  padding: 20px;
}
.description {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  border: 2px solid rgb(83, 13, 13);
  background-color: rgb(216, 211, 211);
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.item {
  text-align: center;
}

.label {
  display: block;
}

.quantity {
  font-weight: bold;
}
